.mdl-layout__header-row {
  padding-left: 20pt;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.mdl-mini-footer .mdl-logo a {
  text-decoration: none;
  color: inherit;
}

.project {
  flex-basis: 300pt;
}

.project .mdl-card__title {
  min-height: 100pt;
  padding-bottom: 0;
}

.project .mdl-card__title-text {
  color: #424540;
  background-color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  font-size: large;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10pt;
}

.project .mdl-card__actions {
  text-align: right;
}

.project .mdl-card__supporting-text {
  flex-grow: 2;
  max-height: 300pt;
  overflow-y: auto;
}

.prjAuthor {
  margin-bottom: 0;
  line-height: initial;
}

.prjSchool {
  font-style: italic;
  line-height: initial;
}

.prjData td:first-child {
  padding-left: 0;
  padding-right: 10pt;
  font-weight: bold;
}

.prjDesc, .prjData {
  margin-top: 10pt;
  line-height: initial;
  border-spacing: 0;
}

.code {
  font-family: monospace;
}

.warning {
  color: red;
}



