*.class

# Package Files and binary distributables #
*.jar
!app/JNLPServlet/web/jclic/*.jar
!lib/*.jar
*.war
!lib/*.war
*.ear
*.exe
*.zip
*.gz

# Back and log files #
*.bak
*.LCK
*~
*.log
Thumbs.db

# Build and doc directories #
build/
dist/
!web/dist/
apidoc/
javadoc/
private/
**/build/
**/apidoc/
**/javadoc/
**/private/
lib/test

# Directories with intermediate files #
.nbattrs
.classpath
.project

# Directories with non redistribuable files #

#lib/bootstrap/
!lib/bootstrap/1.4/rt.jar

app/JNLPServlet/web/WEB-INF/classes/
app/clicDB/web/WEB-INF/classes/
app/gali/web/WEB-INF/classes/

# MyLib test files
web/users/*/**
!web/users/clic/*
#!web/users/settings.json


