*.class

# Package Files and binary distributables #
*.jar
!app/JNLPServlet/web/jclic/*.jar
*.war
*.ear
*.exe
*.zip
*.gz

# Back and log files #
*.bak
*.LCK
*~
*.log
Thumbs.db

# Build and doc directories #
build/
dist/
apidoc/
javadoc/
private/
**/build/
**/apidoc/
**/javadoc/
**/private/

# Directories with intermediate files #
netbeans/
.nbattrs

# Directories with non redistribuable files #
lib/bootstrap/

app/JNLPServlet/web/WEB-INF/classes/
app/clicDB/web/WEB-INF/classes/
app/gali/web/WEB-INF/classes/
