<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <context-param>
        <param-name>serverDomain</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>clic.xtec.cat</description>
        </context-param>
    <context-param>
        <param-name>servletBaseUrl</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>https://clic.xtec.cat/gali/gali</description>
        </context-param>
    <context-param>
        <param-name>dbLogFile</param-name>
        <param-value>galiDBConnection.log</param-value>
    </context-param>
    <context-param>
        <param-name>dbMaxConns</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>dbLogAppend</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>dbMaxCheckoutSeconds</param-name>
        <param-value>60</param-value>
    </context-param>
    <context-param>
        <param-name>dbDebugLevel</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>dbMaxConnDays</param-name>
        <param-value>1.0</param-value>
    </context-param>
    <context-param>
        <param-name>dbMinConns</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>JNDI</param-value>
    </context-param>
    <context-param>
        <param-name>dbServer</param-name>
        <param-value>jdbc/pool/ClicConnectionPoolDS</param-value>
    </context-param>
    <context-param>
        <param-name>dbMapStatements</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>tablePrefix</param-name>
        <param-value>EDU_JCLIC_</param-value>
    </context-param>
    <context-param>
        <param-name>checkIdentUrl</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>https://aplitic.xtec.cat/e13_colex/validate.jsp</description>
    </context-param>
    <context-param>
        <param-name>reporterName</param-name>
        <param-value>TCPReporter</param-value>
    </context-param>
    <context-param>
        <param-name>reporterPath</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>clic.xtec.cat/jclicReports</description>
        </context-param>
    <context-param>
        <param-name>packageUrl</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>https://clic.xtec.cat/fgali/</description>
        </context-param>
    <context-param>
        <param-name>packageNOCUrl</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>https://clic.xtec.cat/fgalino/</description>
        </context-param>
    <context-param>
        <param-name>packageALGUrl</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>https://clic.xtec.cat/fgalial/</description>
        </context-param>
    <context-param>
        <param-name>packageOCUrl</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>https://clic.xtec.cat/fgalioc/</description>
        </context-param>
    <context-param>
        <param-name>SETTINGS_TABLE</param-name>
        <param-value>EDU_JCLIC_SETTINGS</param-value>
    </context-param>
    <context-param>
        <param-name>galiLogo</param-name>
        <param-value>https://clic.xtec.cat/img/logo_gali.gif</param-value>
        </context-param>
    <listener>
        <listener-class>gali.Context</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        </welcome-file-list>
    </web-app>
