.mdl-layout__header-row {
  padding-left: 20pt;
}

.avatar {
  max-width: 36pt;
  max-height: 36pt;
  border-radius: 50%;
  margin-right: 5pt;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.mdl-mini-footer .mdl-logo a {
  text-decoration: none;
  color: inherit;
}

#accountInfo {
  width: 400pt;  
}

#accountInfo h2 {
  font-size: 14pt;
}

.project {
  flex-basis: 300pt;
}

.project .mdl-card__title {
  min-height: 80pt;
}

.project .mdl-card__actions {
  text-align: right;
}

.project .mdl-card__supporting-text {
  flex-grow: 2;
  max-height: 300pt;
  overflow-y: auto;
}

#uploadDlg {
  width: 80%;
  max-width: 600pt;
}

#uploadDlg a {
  outline: none;
}

.mdl-dialog__title {
  font-size: 16pt;
}

.code {
  font-family: monospace;
}

.warning {
  color: red;
}

#fileNameInfo {
  font-weight: bold;
}


