.mdl-layout__header-row {
  padding-left: 20pt;
}

.avatar {
  max-width: 36pt;
  max-height: 36pt;
  border-radius: 50%;
  margin-right: 5pt;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.mdl-mini-footer .mdl-logo a {
  text-decoration: none;
  color: inherit;
}

#accountInfo {
  width: 500pt;
  position: absolute;
  right: 0;
  z-index: 10;  
}

#accountInfo h2 {
  font-size: 14pt;
}

#mainInfo {
  width: 100%;
  margin-right: 13pt;  
}

#mainInfo p {
  margin-top: 8pt;
  margin-bottom: 4pt;
  line-height: 1.3;
}

.project {
  flex-basis: 300pt;
}

.project .mdl-card__title {
  min-height: 100pt;
  padding-bottom: 0;
}

.project .mdl-card__title-text {
  color: #424540;
  background-color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  font-size: large;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10pt;
}

.project .mdl-card__actions {
  text-align: right;
}

.project .mdl-card__supporting-text {
  flex-grow: 2;
  max-height: 300pt;
  overflow-y: auto;
}

.prjAuthor {
  margin-bottom: 0;
  line-height: initial;
}

.prjSchool {
  font-style: italic;
  line-height: initial;
}

table td:first-child {
  padding-left: 0;
  padding-right: 10pt;
  font-weight: bold;
}

.prjDesc, .prjData, .accountInfo {
  margin-top: 10pt;
  line-height: initial;
  border-spacing: 0;
}

#uploadDlg, #confirmDeleteDlg {
  width: 80%;
  max-width: 600pt;
}

#uploadDlg a {
  outline: none;
}

.mdl-dialog__title {
  font-size: 16pt;
}

.code {
  font-family: monospace;
}

.warning {
  color: red;
}

#fileNameInfo {
  font-weight: bold;
}

.small-icon {
  font-size: 12pt;
}

#shareDlg {
  width: 80%;
  max-width: 600pt;
}

.shareItem {
  padding: 10pt;
  width: 100%;
}

.shareItem label {
  display: block
}

.shareItem input {
  size: 200pt;
  font-size: 12pt;
}

.shareButtons .mdl-button {
  padding: 0;
  font-size: 12pt;
}

.mdl-button.mdl-button--twitter {
  color: #3f51b5;
}

.mdl-button.mdl-button--twitter:focus:not(:active) {
  background-color: #00acee;
}

.mdl-button--raised.mdl-button--twitter {
  background: #00acee;
  color: white;
}

.mdl-button--raised.mdl-button--twitter:hover {
  background-color: #00acee;
}

.mdl-button--raised.mdl-button--twitter:active {
  background-color: #00acee;
}

.mdl-button--raised.mdl-button--twitter:focus:not(:active) {
  background-color: #00acee;
}

.mdl-button--raised.mdl-button--twitter .mdl-ripple {
  background: white;
}

.mdl-button--fab.mdl-button--twitter {
  background: #00acee;
  color: white;
}

.mdl-button--fab.mdl-button--twitter:hover {
  background-color: #00acee;
}

.mdl-button--fab.mdl-button--twitter:focus:not(:active) {
  background-color: #00acee;
}

.mdl-button--fab.mdl-button--twitter:active {
  background-color: #00acee;
}

.mdl-button--fab.mdl-button--twitter .mdl-ripple {
  background: white;
}

.mdl-button.mdl-button--facebook {
  color: #3f51b5;
}

.mdl-button.mdl-button--facebook:focus:not(:active) {
  background-color: #3b5998;
}

.mdl-button--raised.mdl-button--facebook {
  background: #3b5998;
  color: white;
}

.mdl-button--raised.mdl-button--facebook:hover {
  background-color: #3b5998;
}

.mdl-button--raised.mdl-button--facebook:active {
  background-color: #3b5998;
}

.mdl-button--raised.mdl-button--facebook:focus:not(:active) {
  background-color: #3b5998;
}

.mdl-button--raised.mdl-button--facebook .mdl-ripple {
  background: white;
}

.mdl-button--fab.mdl-button--facebook {
  background: #3b5998;
  color: white;
}

.mdl-button--fab.mdl-button--facebook:hover {
  background-color: #3b5998;
}

.mdl-button--fab.mdl-button--facebook:focus:not(:active) {
  background-color: #3b5998;
}

.mdl-button--fab.mdl-button--facebook:active {
  background-color: #3b5998;
}

.mdl-button--fab.mdl-button--facebook .mdl-ripple {
  background: white;
}

.mdl-button.mdl-button--googleplus {
  color: #3f51b5;
}

.mdl-button.mdl-button--googleplus:focus:not(:active) {
  background-color: #e93f2e;
}

.mdl-button--raised.mdl-button--googleplus {
  background: #e93f2e;
  color: white;
}

.mdl-button--raised.mdl-button--googleplus:hover {
  background-color: #e93f2e;
}

.mdl-button--raised.mdl-button--googleplus:active {
  background-color: #e93f2e;
}

.mdl-button--raised.mdl-button--googleplus:focus:not(:active) {
  background-color: #e93f2e;
}

.mdl-button--raised.mdl-button--googleplus .mdl-ripple {
  background: white;
}

.mdl-button--fab.mdl-button--googleplus {
  background: #e93f2e;
  color: white;
}

.mdl-button--fab.mdl-button--googleplus:hover {
  background-color: #e93f2e;
}

.mdl-button--fab.mdl-button--googleplus:focus:not(:active) {
  background-color: #e93f2e;
}

.mdl-button--fab.mdl-button--googleplus:active {
  background-color: #e93f2e;
}

.mdl-button--fab.mdl-button--googleplus .mdl-ripple {
  background: white;
}

.mdl-button.mdl-button--stumbleupon {
  color: #3f51b5;
}

.mdl-button.mdl-button--stumbleupon:focus:not(:active) {
  background-color: #f74425;
}

.mdl-button--raised.mdl-button--stumbleupon {
  background: #f74425;
  color: white;
}

.mdl-button--raised.mdl-button--stumbleupon:hover {
  background-color: #f74425;
}

.mdl-button--raised.mdl-button--stumbleupon:active {
  background-color: #f74425;
}

.mdl-button--raised.mdl-button--stumbleupon:focus:not(:active) {
  background-color: #f74425;
}

.mdl-button--raised.mdl-button--stumbleupon .mdl-ripple {
  background: white;
}

.mdl-button--fab.mdl-button--stumbleupon {
  background: #f74425;
  color: white;
}

.mdl-button--fab.mdl-button--stumbleupon:hover {
  background-color: #f74425;
}

.mdl-button--fab.mdl-button--stumbleupon:focus:not(:active) {
  background-color: #f74425;
}

.mdl-button--fab.mdl-button--stumbleupon:active {
  background-color: #f74425;
}

.mdl-button--fab.mdl-button--stumbleupon .mdl-ripple {
  background: white;
}

.mdl-button.mdl-button--linkedin {
  color: #3f51b5;
}

.mdl-button.mdl-button--linkedin:focus:not(:active) {
  background-color: #0e76a8;
}

.mdl-button--raised.mdl-button--linkedin {
  background: #0e76a8;
  color: white;
}

.mdl-button--raised.mdl-button--linkedin:hover {
  background-color: #0e76a8;
}

.mdl-button--raised.mdl-button--linkedin:active {
  background-color: #0e76a8;
}

.mdl-button--raised.mdl-button--linkedin:focus:not(:active) {
  background-color: #0e76a8;
}

.mdl-button--raised.mdl-button--linkedin .mdl-ripple {
  background: white;
}

.mdl-button--fab.mdl-button--linkedin {
  background: #0e76a8;
  color: white;
}

.mdl-button--fab.mdl-button--linkedin:hover {
  background-color: #0e76a8;
}

.mdl-button--fab.mdl-button--linkedin:focus:not(:active) {
  background-color: #0e76a8;
}

.mdl-button--fab.mdl-button--linkedin:active {
  background-color: #0e76a8;
}

.mdl-button--fab.mdl-button--linkedin .mdl-ripple {
  background: white;
}
