<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <context-param>
        <param-name>serverBase</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>http://clic.xtec.cat</description>
        </context-param>
    <context-param>
        <param-name>appBase</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>http://clic.xtec.cat/db</description>
        </context-param>
    <context-param>
        <param-name>dbLogFile</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
        <description>/j2ee/e13_clic/webClicDBConnection.log</description>
        </context-param>
    <context-param>
        <param-name>dbMaxConns</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>dbLogAppend</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>dbMaxCheckoutSeconds</param-name>
        <param-value>60</param-value>
    </context-param>
    <context-param>
        <param-name>dbDebugLevel</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>dbMaxConnDays</param-name>
        <param-value>1.0</param-value>
    </context-param>
    <context-param>
        <param-name>dbMinConns</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>JNDI</param-value>
    </context-param>
    <context-param>
        <param-name>dbServer</param-name>
        <param-value>jdbc/pool/ClicConnectionPoolDS</param-value>
    </context-param>
    <context-param>
        <param-name>dbMapStatements</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>SETTINGS_TABLE</param-name>
        <param-value>EDU_JCLIC_SETTINGS</param-value>
    </context-param>
    <context-param>
        <param-name>testKey</param-name>
        <param-value>READ_FROM_DATABASE</param-value>
    </context-param>
    <listener>
        <listener-class>edu.xtec.web.clic.Context</listener-class>
    </listener>
    <servlet>
        <servlet-name>JCApplet</servlet-name>
        <jsp-file>/jclicApplet.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RSS</servlet-name>
        <jsp-file>/rss.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JCApplet</servlet-name>
        <url-pattern>/jcapplet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSS</servlet-name>
        <url-pattern>/rss_ca.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSS</servlet-name>
        <url-pattern>/rss_en.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSS</servlet-name>
        <url-pattern>/rss_es.xml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
